.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding: 11px;
    max-width: 1000px;
    justify-content: center;
}
.flexbox-item {
    margin-left: 5px;
    padding: 11px;
}
.flexbox-item:first-child {
    margin: 0;
}
